<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Contrato</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .card {
      margin-top: 2rem;
      border: none;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar {
      background-color: #083271;
    }
    .navbar-brand {
      color: white !important;
      font-weight: bold;
    }
    .btn-custom {
      background-color: #083271;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      color: white;
      transition: background-color 0.3s ease;
    }
    .btn-custom:hover {
      background-color: #0d47a1;
    }
    .form-box{
      background-color: #eceff1;
      border-radius: 8px;
      padding: 12px;
      border: 1px solid #cfd8dc;
      font-size: 16px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Adicionar Contrato</a>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg p-4">
        <h2 class="text-center mb-4">Adicionar Contrato</h2>
        <form action="#" th:action="@{/contratos}" th:object="${contrato}" method="post" enctype="multipart/form-data">
          <div class="form-box">
            <div class="form-group row">
              <div class="col-md-6">
                <label for="numeroDoContrato" class="form-label">Número do contrato novo/renovado/a ser liquidado:</label>
                <input type="text" th:field="*{numeroDoContrato}" id="numeroDoContrato" class="form-control" required>
              </div>
              <div class="col-md-3">
                <label for="agencia" class="form-label">Agência:</label>
                <input type="text" class="form-control" th:field="*{agencia}" id="agencia" required>
              </div>
              <div class="col-md-3">
                <label for="sr" class="form-label">Sr:</label>
                <input type="text" class="form-control" th:field="*{sr}" id="sr" required>
              </div>
            </div>
          </div><br>
          <div class="mb-3">
            <label for="cliente" class="form-label">Cliente:</label>
            <select th:field="*{cliente}" id="cliente" class="form-select" required>
              <option th:each="cliente : ${clientes}"
                      th:value="${cliente.id}"
                      th:text="${cliente.nome}"></option>
            </select>
          </div><hr>

          <h4>Dados da proposta</h4>
          <div class="form-group row">
            <div class="col-md-5">
              <label for="valorBruto" class="form-label">Valor do empréstimo:</label>
              <input type="text" step="0,01" class="form-control" th:field="*{valorBruto}" id="valorBruto" required>
            </div>
            <div class="col-md-5">
              <label for="valorLiquido" class="form-label">Valor líquido do empréstimo:</label>
              <input type="text" step="0,01" class="form-control" th:field="*{valorLiquido}" id="valorLiquido" required>
            </div>
            <div class="col-md-5">
              <label for="valorPrestacao" class="form-label">Valor da prestação:</label>
              <input type="text" class="form-control" th:field="*{prestacao}" id="valorPrestacao" required>
            </div>
            <div class="col-md-5">
              <label for="numeroParcelas" class="form-label">N° parcelas/prazo </label>
              <input type="text" class="form-control" th:field="*{parcelas}" id="numeroParcelas" required>
            </div>
            <div class="col-md-5">
              <label for="data" class="form-label">Data da contratação:</label>
              <input type="date" th:field="*{data}" id="data" class="form-control" required>
            </div>
          </div><br>
          <div class="form-group row">
            <div class="col-md-5">
              <label for="jurosAcerto" class="form-label">Juros de acerto:</label>
              <input type="text" th:field="*{jurosAcerto}" id="jurosAcerto" class="form-control" required>
            </div>
            <div class="col-md-5">
              <label for="iof" class="form-label">IOF (Imposto sobre operações financeiras):</label>
              <input type="text" class="form-control" th:field="*{iof}" id="iof" required>
            </div>
            <div class="col-md-5">
              <label for="prestamista" class="form-label">Valor total do seguro prestamista</label>
              <input type="text" th:field="*{prestamista}" id="prestamista" class="form-control" required>
              <small>(Exceto para renovações)</small>
            </div>
          </div><br>
          <div class="mb-3">
            <label for="tipoContrato" class="form-label">Tipo de Contrato:</label>
            <select th:field="*{tipoContrato}" id="tipoContrato" class="form-select" required>
              <option th:each="tipo : ${tiposDeContrato}"
                      th:value="${tipo}"
                      th:text="${tipo}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label for="pdf" class="form-label">Upload do Pdf</label>
            <input type="file" class="form-control" id="pdf" name="pdf" accept=".pdf">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-custom">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>